<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>

    <DirectoryRef Id="GUIDIR"/>

    <ComponentGroup Id="GuiExeGroup">
          <Component Id="GuiExeComponent"
                 Directory="GUIDIR"
                 Guid="55aad1f8-9bce-4073-b91c-678c25cc26df">
    
        <File Id="GuiExe"
              Source="gui\app.exe"
              KeyPath="yes"/>
    
        <Shortcut
          Id="StartMenuShortcut"
          Directory="AppProgramsFolder"
          Name="IITDelhi VPN"
          Description="IIT Delhi VPN Client"
          Target="[GUIDIR]app.exe"
          WorkingDirectory="GUIDIR"
          Icon="AppIcon"
          IconIndex="0"/>
    
        <RemoveFolder Id="RemoveAppProgramsFolder"
                      Directory="AppProgramsFolder"
                      On="uninstall"/>
    
      </Component>
    
    </ComponentGroup>
   <ComponentGroup Id="GuiAllOtherFiles" Directory="GUIDIR">
    <Files Include="gui\**\*.*">
      <Exclude Files="gui\app.exe"/>
    </Files>
    </ComponentGroup>
  </Fragment>
</Wix>
