<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    <Icon Id="AppIcon" SourceFile="gui\app.exe"/>

    <!-- ========================= -->
    <!-- GUI DIRECTORIES -->
    <!-- ========================= -->
    <DirectoryRef Id="GUIDIR">
      <Directory Id="PLATFORMSDIR" Name="platforms"/>
      <Directory Id="STYLESDIR" Name="styles"/>
      <Directory Id="IMAGEFORMATSDIR" Name="imageformats"/>
      <Directory Id="TRANSLATIONSDIR" Name="translations"/>
    </DirectoryRef>

    <!-- ========================= -->
    <!-- GUI FILES -->
    <!-- ========================= -->
    <ComponentGroup Id="GuiFiles">

      <!-- Root GUI files -->
      <Component Directory="GUIDIR" Guid="55aad1f8-9bce-4073-b91c-678c25cc26df">
          <File Id="GuiExe"
            Source="gui\app.exe"
            KeyPath="yes"/>

            <Shortcut
              Id="StartMenuShortcut"
              Directory="AppProgramsFolder"
              Name="IITDelhi VPN"
              Description="IIT Delhi VPN Client"
              Target="[GUIDIR]app.exe"
              WorkingDirectory="GUIDIR"
              Icon="AppIcon"
              IconIndex="0"/>
  <RemoveFolder Id="RemoveAppProgramsFolder"
                Directory="AppProgramsFolder"
                On="uninstall"/>
        <File Source="gui\Qt6Core.dll"/>
        <File Source="gui\Qt6Gui.dll"/>
        <File Source="gui\Qt6Network.dll"/>
        <File Source="gui\Qt6Svg.dll"/>
        <File Source="gui\D3Dcompiler_47.dll"/>
        <File Source="gui\libgcc_s_seh-1.dll"/>
        <File Source="gui\libstdc++-6.dll"/>
        <File Source="gui\libwinpthread-1.dll"/>
        <File Source="gui\opengl32sw.dll"/>
        <File Source="gui\Qt6Widgets.dll"/>
      </Component>

      <!-- platforms -->
      <Component Directory="PLATFORMSDIR" Guid="16f9b84d-d47f-4833-9e5a-e9eaf352adc6">
        <File Source="gui\platforms\qwindows.dll" KeyPath="yes"/>
      </Component>

      <!-- styles -->
      <Component Directory="STYLESDIR" Guid="d341cd02-5a84-40c0-bbc8-11eb9a0375d6">
        <File Source="gui\styles\qmodernwindowsstyle.dll" KeyPath="yes"/>
      </Component>

      <!-- imageformats -->
      <Component Directory="IMAGEFORMATSDIR" Guid="878302af-c8f0-4e00-b61c-81e52052e49e">
        <File Source="gui\imageformats\qgif.dll" KeyPath="yes"/>
        <File Source="gui\imageformats\qico.dll"/>
        <File Source="gui\imageformats\qjpeg.dll"/>
        <File Source="gui\imageformats\qsvg.dll"/>
      </Component>

      <!-- translations -->
      <Component Directory="TRANSLATIONSDIR" Guid="67d0316c-4bac-4d7a-bdcd-7c0cff4cd8ac">
        <File Source="gui\translations\qt_ar.qm" KeyPath="yes"/>
        <File Source="gui\translations\qt_bg.qm"/>
        <File Source="gui\translations\qt_ca.qm"/>
        <File Source="gui\translations\qt_cs.qm"/>
        <File Source="gui\translations\qt_da.qm"/>
        <File Source="gui\translations\qt_de.qm"/>
        <File Source="gui\translations\qt_en.qm"/>
        <File Source="gui\translations\qt_es.qm"/>
        <File Source="gui\translations\qt_fa.qm"/>
        <File Source="gui\translations\qt_fi.qm"/>
        <File Source="gui\translations\qt_fr.qm"/>
        <File Source="gui\translations\qt_gd.qm"/>
        <File Source="gui\translations\qt_he.qm"/>
        <File Source="gui\translations\qt_hr.qm"/>
        <File Source="gui\translations\qt_hu.qm"/>
        <File Source="gui\translations\qt_it.qm"/>
        <File Source="gui\translations\qt_ja.qm"/>
        <File Source="gui\translations\qt_ka.qm"/>
        <File Source="gui\translations\qt_ko.qm"/>
        <File Source="gui\translations\qt_lg.qm"/>
        <File Source="gui\translations\qt_lv.qm"/>
        <File Source="gui\translations\qt_nl.qm"/>
        <File Source="gui\translations\qt_nn.qm"/>
        <File Source="gui\translations\qt_pt_BR.qm"/>
        <File Source="gui\translations\qt_ru.qm"/>
        <File Source="gui\translations\qt_sk.qm"/>
        <File Source="gui\translations\qt_sv.qm"/>
        <File Source="gui\translations\qt_tr.qm"/>
        <File Source="gui\translations\qt_uk.qm"/>
        <File Source="gui\translations\qt_zh_CN.qm"/>
        <File Source="gui\translations\qt_zh_TW.qm"/>
      </Component>

    </ComponentGroup>

  </Fragment>
</Wix>
