Package: iitdelhivpn
Version: 1.0.0
Architecture: any
Section: net
Priority: optional
Depends: libjsoncpp-dev, libtinyxml2-dev
Maintainer: IIT Delhi  <you@example.com>
Description: IIT Delhi VPN Client
