name: Build Debian Package

on:
  workflow_dispatch:

jobs:
  package:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:

          # --------------------
          # Ubuntu
          # --------------------
          - name: Ubuntu 22.04 amd64
            runner: ubuntu-22.04
            arch: amd64
            version: 22.04

          - name: Ubuntu 24.04 amd64
            runner: ubuntu-24.04
            arch: amd64
            version: 24.04

          # - name: Ubuntu 22.04 arm64
          #   runner: ubuntu-22.04-arm
          #   arch: arm64
          #   version: 22.04

          - name: Ubuntu 24.04 arm64
            runner: ubuntu-24.04-arm
            arch: arm64
            version: 24.04


    steps:
      - uses: actions/checkout@v4

      
      - name: Download GUI artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          repo: AaryaTalgaonkar/openvpn3-gui
          workflow: lin-build.yml
          branch: main
          name: OpenVPN3-GUI-${{ matrix.name }}
          path: linux/gui

      - name: Download Backend artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          repo: AaryaTalgaonkar/openvpn3-linux
          workflow: lin-build.yml
          branch: master
          name: backend-build-${{ matrix.runner }}
          path: linux/backend

      # -----------------------------
      # Create package structure
      # -----------------------------
      - name: Prepare package root
        run: |
          cd linux
          sed -i "s/Architecture:.*/Architecture: ${{ matrix.arch }}/" pkgroot/DEBIAN/control
          mkdir -p pkgroot/usr   
          
          cp -r backend/usr/* pkgroot/usr/
          cp -r gui/* pkgroot/usr/

          chmod 755 pkgroot/DEBIAN/preinst
          chmod 755 pkgroot/DEBIAN/postinst
          chmod 755 pkgroot/DEBIAN/prerm
          chmod 755 pkgroot/DEBIAN/postrm
          chmod 644 pkgroot/DEBIAN/control
      # -----------------------------
      # Build .deb
      # -----------------------------
      - name: Build deb
        run: |
          cd linux
          dpkg-deb --build pkgroot openvpn3-gui_${{ matrix.arch }}-${{matrix.version}}.deb

      # -----------------------------
      # Upload artifact
      # -----------------------------
      - name: Upload deb
        uses: actions/upload-artifact@v4
        with:
          name: openvpn3-gui-${{ matrix.arch }}-${{matrix.version}}
          path: linux/openvpn3-gui_${{ matrix.arch }}-${{matrix.version}}.deb
